h1 {
  text-align: center;
  margin-top: 500px;
}

form {
  margin-left: 100px;
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
  margin-top: 10px;
}

.button-1 {
  margin-left: 100px;
}

.inputGray {
  background-color: rgb(204, 198, 198);
}

.button-2 {
  margin-left: 10px;
}
